h1 {
  text-align: center;
  font-size: 2rem;
}

.social-banner {
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 5px;
  padding: 3px;
}

.table-responsive table {
  font-size: 10px;
}

.diski-table-button {
  font-size: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.table-responsive table th,
.table-responsive table td {
  padding: 5px 5px;
  vertical-align: middle;
}

.table-responsive table th {
  color: black;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(179, 178, 178);
}

.table-search-input {
  padding-top: 18px;
}

.sort-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin-left: 5px;
  padding: 0;
  color: black;
}

.sort-button:focus {
  outline: none;
}

.sort-button:hover {
  text-decoration: underline;
}

.form-control {
  height: 32px;
  font-size: 14px;
}

.form-control::placeholder {
  font-size: 14px;
}

.hidden-cell {
  display: none;
}

.banner-table-cell {
  text-align: center;
}

.giftcard-highlight {
  background-color: rgb(255, 255, 200);
}