<div class="modal-backdrop" *ngIf="isVisible" (click)="closeModal()"></div>
<div class="modal" *ngIf="isVisible">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ discount.company | uppercase }}</h5>
                <button type="button" (click)="closeModal()" class="close-button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="discount">
                <div class="modal-body-row">
                    <div class="modal-body-labels">
                        <p><strong>Code:</strong></p>
                        <p><strong>Korting:</strong></p>
                        <p><strong>Gespot op:</strong></p>
                    </div>
                    <div class="modal-body-values">
                        <p>
                            {{ discount.discountCode }}
                            <span class="tooltip-container">
                                <button (click)="copyToClipboard(discount.discountCode)" class="copy-button">
                                    Copy
                                </button>
                                <span *ngIf="isCopied" class="tooltip">
                                    Copied!
                                </span>
                            </span>
                        </p>
                        <p>{{ getCorrectFormatDiscountPercentage(discount.percentage) }}</p>
                        <p>{{ getCorrectFormatOfCodeDate(discount.date) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
